
<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>

    <div>
        <a href="/campgrounds/new">Add New</a>
    </div>


     <% for( let campground of campgrounds ) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-4">
                <img class="img-fluid" src="<%= campground.image %>">
                </div>
                <div class="col-8">
                    <h5><%= campground.title %></h5>
                    <p><%= campground.description %></p>
                    <p class="text-muted my-2"><small><%= campground.location %></small></p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground.id %>" role="button">View <%= campground.title %></a>
                </div>
            </div><!--rpw-->
        </div><!--card-->
    <% } %>
